*, *:after, *:before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: sans-serif;
  background-color: lightskyblue;
  background-repeat: repeat;
  background-image: url('obrazky/pozadi/weather.png');

  /*  vyzkoušej i jiná pozadí :)
  background-image: url('obrazky/pozadi/geometry.png');
  background-image: url('obrazky/pozadi/round.png');
  background-image: url('obrazky/pozadi/china.png');
  background-image: url('obrazky/pozadi/newyear.png');
  background-image: url('obrazky/pozadi/spiration.png');
  background-image: url('obrazky/pozadi/whirlpool.png');
  background-image: url('obrazky/pozadi/school.png');
  background-image: url('obrazky/pozadi/swirl.png');
  background-image: url('obrazky/pozadi/seigaiha.png');
  background-image: url('obrazky/pozadi/hypnotize.png');
  background-image: url('obrazky/pozadi/giftly.png');
  */
}

.vysledek {
  position: absolute;
  top: 30px;
  left: 30px;
  font-family: 'Press Start 2P', sans-serif;
  font-size: 28px;
  z-index: 999;
}

#skore {
  color: red;
}

#panacek,
#mince,
#nepritel {
  display: block;
  position: absolute;
}

#panacek {
  z-index: 1;
}
